header
  .container
    .row
      .col-12
        .header-wrapper
          a.logo(href='/')
            img(src=require('../../assets/icons/logo_small.svg'))
          nav.main-menu.main-menu--mobile
            ul.main-menu__list
              li.main-menu__item.hidden-md
                a.main-menu__link#mobile-menu(href='#') Меню
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                  </svg>
                .mobile-menu
                  .mobile-menu__wrapper
                    .mobile-menu__request
                      button.btn.btn-small(data-fancybox, href='#modal-order-form') Оставить заявку
                    .mobile-menu__close
                      img(src=require('../../assets/icons/close.svg'))
                    .mobile-menu__header Услуги
                    ul.mobile-menu__list
                      each n in ['SEO-продвижение', 'Технический аудит', 'Сбор семантики', 'YMYL-аудит', 'Аудит коммерческих факторов']
                        li.mobile-menu__item
                          a.mobile-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
                    .mobile-menu__header Публикации
                    ul.mobile-menu__list
                      each n in ['Блог', 'Кейсы', 'Наши публикации', 'Видео']
                        li.mobile-menu__item
                          a.mobile-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
                    .mobile-menu__header О нас
                    ul.mobile-menu__list
                      each n in ['О компании', 'Контакты', 'Отзывы', 'Сотрудники', 'Обучение']
                        li.mobile-menu__item
                          a.mobile-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
                    .mobile-menu__socials
                      .socials
                        ul.socials__list
                          li.socials__item
                            a.socials__link(href="#")
                              img(src=require('../../assets/icons/vk.svg'))
                          li.socials__item
                            a.socials__link(href="#")
                              img(src=require('../../assets/icons/fb.svg'))
                          li.socials__item
                            a.socials__link(href="#")
                              img(src=require('../../assets/icons/tg.svg'))
                          li.socials__item
                            a.socials__link(href="#")
                              img(src=require('../../assets/icons/yt.svg'))
              li.main-menu__item.hidden-xs.display-flex-md
                  a.main-menu__link(href='#') Услуги
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                    </svg>
                  .sub-menu
                    ul.sub-menu__list
                      each n in ['SEO-продвижение', 'Технический аудит', 'Сбор семантики', 'YMYL-аудит', 'Аудит коммерческих факторов']
                        li.sub-menu__item
                          a.sub-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
              li.main-menu__item.hidden-xs.display-flex-md
                  a.main-menu__link(href='#') Публикации
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                    </svg>
                  .sub-menu
                    ul.sub-menu__list
                      each n in ['Блог', 'Кейсы', 'Наши публикации', 'Видео']
                        li.sub-menu__item
                          a.sub-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
              li.main-menu__item.hidden-xs.display-flex-md
                  a.main-menu__link(href='#') О нас
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                    </svg>
                  .sub-menu
                    ul.sub-menu__list
                      each n in ['О компании', 'Контакты', 'Отзывы', 'Сотрудники', 'Обучение']
                        li.sub-menu__item
                          a.sub-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
          .search
            .search__btn#search-btn
              span.search__btn-text-1 Поиск
              span.search__btn-text-2 по сайту
              img(src=require('../../assets/icons/loupe.svg'))
            form.search__form#search-form(action='')
              .form-control.search__input
                input(type='text', placeholder='Поиск')
                button(type='submit').
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.7066 13.29L12.7466 10.33C13.5266 9.25 13.9966 7.93 13.9966 6.5C13.9966 2.91 11.0866 0 7.49658 0C3.90658 0 0.996582 2.91 0.996582 6.5C0.996582 10.09 3.90658 13 7.49658 13C8.92658 13 10.2466 12.53 11.3266 11.74L14.2866 14.7C14.4666 14.89 14.7166 15 14.9966 15C15.5466 15 15.9966 14.55 15.9966 14C15.9966 13.72 15.8866 13.47 15.7066 13.29ZM2.99658 6.5C2.99658 4.01 5.00658 2 7.49658 2C9.98658 2 11.9966 4.01 11.9966 6.5C11.9966 8.99 9.98658 11 7.49658 11C5.00658 11 2.99658 8.99 2.99658 6.5Z" fill="#A9A5A0"/></svg>
          .send-request
            a.btn.btn-small#send-request(data-fancybox, href='#modal-order-form') Оставить заявку
          .phone
            a.phone__icon.hidden-md(href='tel:123').
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.21551 10.0796C3.69068 9.27967 3.20311 8.42487 2.83928 7.57674C2.61058 7.04432 2.43877 6.50012 2.27247 5.95503C2.03819 5.18681 1.96647 4.20198 2.01378 3.51709C2.07139 2.68406 2.35149 2.04714 2.74978 1.53776C2.9913 1.22882 3.4631 0.770734 3.9208 0.45404C4.28688 0.201024 4.62671 0.0571234 4.96281 0.0138016C5.2928 -0.0280739 5.6255 0.0262196 5.91471 0.164722C6.44343 0.418233 6.8385 0.819842 7.17192 1.24075C7.49323 1.64564 7.75492 2.16035 7.81193 2.68275C7.87681 3.27578 7.74702 3.88299 7.31433 4.43369C7.14073 4.6539 6.89802 4.85749 6.63181 5.05999C6.28351 5.32429 5.6732 5.64882 5.60049 6.09512C5.50281 6.70113 5.98901 7.49663 6.64292 8.49515C6.65273 8.51017 6.66211 8.52457 6.6721 8.53977C7.32612 9.53769 7.86121 10.3012 8.45343 10.4503C8.89013 10.5602 9.42844 10.1251 9.80803 9.90819C10.0984 9.74259 10.3801 9.59918 10.6502 9.52619C11.3247 9.34497 11.931 9.46516 12.4476 9.75988C12.9027 10.0191 13.2692 10.4643 13.5125 10.9205C13.7653 11.3947 13.976 11.918 13.9988 12.5063C14.0112 12.828 13.9295 13.1564 13.7599 13.4442C13.5876 13.7373 13.3218 13.9942 12.9457 14.2318C12.475 14.5291 11.8697 14.7831 11.4918 14.884C10.8685 15.0502 10.1755 15.0564 9.39154 14.7801C8.74652 14.553 7.87472 14.0971 7.26523 13.5771C6.83261 13.2081 6.40293 12.8342 6.00682 12.4126C5.37531 11.7417 4.7867 10.9531 4.26339 10.1527C4.24719 10.1279 4.23171 10.1044 4.21551 10.0796Z" fill="#fff"/></svg>
            a.phone__number.hidden-xs.display-inline-md(href='tel:+7 (812) 509 22 30') +7 (812) 509 22 30
          .socials.hidden-xs.display-flex-md
            ul.socials__list
              li.socials__item
                a.socials__link(href="#")
                  img(src=require('../../assets/icons/vk.svg'))
              li.socials__item
                a.socials__link(href="#")
                  img(src=require('../../assets/icons/fb.svg'))
              li.socials__item
                a.socials__link(href="#")
                  img(src=require('../../assets/icons/tg.svg'))
              li.socials__item
                a.socials__link(href="#")
                  img(src=require('../../assets/icons/yt.svg'))