header.main-header
  .container
    .row
      .col-12
        .header-wrapper
          a.logo(href='/')
            <svg class="logo--small" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 0C8.9544 0 0 8.9544 0 20C0 31.0456 8.9544 40 20 40C31.0456 40 40 31.0456 40 20C40 8.9544 31.0456 0 20 0ZM13.9688 29.84H12.4936V33.5808H11.4264V29.84H9.9512V28.9704H13.9688V29.84ZM13.4296 22.3384H10.4552L9.752 26.0184H7.84L10.9408 11.4168H12.9056L16.0256 26.0184H14.0968L13.4296 22.3384ZM18.112 33.5808H14.5424V28.9704H18.0264V29.8264H15.6V30.828H17.7408V31.6576H15.6V32.7248H18.112V33.5808ZM22.4064 33.5808L22 32.5928H19.8576L19.4496 33.5808H18.356L20.4112 28.9704H21.4648L23.5264 33.5808H22.4064ZM23.5784 18.568H22.2808L18.08 8.5992V18.568H16.3496V3.9664H17.7376L21.884 13.6648V3.9664H23.5784V18.568ZM28.2032 33.5808L28.1968 30.8144L26.8368 33.0936H26.3568L25.0072 30.8736V33.5808H24.0072V28.9704H24.8872L26.616 31.84L28.3152 28.9744H29.1912L29.204 33.5848L28.2032 33.5808ZM31.9064 12.928H29.5064V26.0152H27.472V12.928H25.0024V11.4136H31.9064V12.928Z" fill="#2F80ED"/>
              <path d="M10.7256 20.8775H13.1592L11.9336 14.2983L10.7256 20.8775Z" fill="#2F80ED"/>
              <path d="M20.2 31.7832H21.6623L20.9312 30.0176L20.2 31.7832Z" fill="#2F80ED"/>
            </svg>
            <svg class="logo--big" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.4766 23.5278H22.7342L16.8286 51.3406H20.467L21.8062 44.3358H27.4718L28.7422 51.3406H32.4222L26.4766 23.5278ZM22.3166 41.555L24.6174 29.0222L26.9534 41.555H22.3166Z" fill="#2F80ED"/>
              <path d="M43.5757 27.8159L35.6781 9.34229H33.0349V37.1551H36.3309V18.1663L44.3309 37.1551H46.8029V9.34229H43.5757V27.8159Z" fill="#2F80ED"/>
              <path d="M49.5168 26.4126H54.2208V51.3406H58.1008V26.4126H62.6672V23.5278H49.5168V26.4126Z" fill="#2F80ED"/>
              <path d="M20.8481 58.6257H23.6577V65.7521H25.6897V58.6257H28.5009V56.9697H20.8481V58.6257Z" fill="#2F80ED"/>
              <path d="M31.6126 62.0881H35.6894V60.5073H31.6126V58.6001H36.2286V56.9697H29.5918V65.7521H36.3918V64.1217H31.6126V62.0881Z" fill="#2F80ED"/>
              <path d="M40.7712 56.9697L36.856 65.7601H38.936L39.7136 63.8785H43.7904L44.5728 65.7601H46.7056L42.7776 56.9777L40.7712 56.9697ZM40.3696 62.3265L41.7616 58.9665L43.1552 62.3265H40.3696Z" fill="#2F80ED"/>
              <path d="M55.8257 56.9697L52.5888 62.4273L49.3025 56.9697H47.6208V65.7521H49.528V60.5953L52.1009 64.8241H53.0161L55.6 60.4833L55.6128 65.7521H57.5201L57.4944 56.9697H55.8257Z" fill="#2F80ED"/>
              <path d="M40 0C17.9088 0 0 17.9088 0 40C0 62.0912 17.9088 80 40 80C62.0912 80 80 62.0912 80 40C80 17.9088 62.0912 0 40 0ZM66.0208 66.0208C59.5674 72.4556 50.9494 76.2573 41.8461 76.685C32.7428 77.1127 23.8063 74.1357 16.778 68.3343C9.74973 62.5329 5.13315 54.3225 3.82785 45.3031C2.52255 36.2837 4.62204 27.1014 9.71723 19.5455C14.8124 11.9895 22.5383 6.60121 31.3893 4.43052C40.2404 2.25983 49.5826 3.46226 57.5955 7.8035C65.6084 12.1447 71.718 19.3138 74.7338 27.9137C77.7496 36.5136 77.4555 45.9283 73.9088 54.3232C72.0621 58.6966 69.3831 62.6694 66.0208 66.0208Z" fill="#2F80ED"/>
            </svg>
          nav.main-menu.main-menu--mobile
            ul.main-menu__list
              li.main-menu__item.hidden-md
                a.main-menu__link#mobile-menu(href='#') Меню
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                  </svg>
                .mobile-menu
                  .mobile-menu__wrapper
                    .mobile-menu__request
                      button.btn.btn-small(data-fancybox, href='#modal-order-form') Оставить заявку
                    .mobile-menu__close
                      img(src=require('../../assets/icons/close.svg'))
                    .mobile-menu__header Услуги
                    ul.mobile-menu__list
                      each n in ['SEO-продвижение', 'Технический аудит', 'Сбор семантики', 'YMYL-аудит', 'Аудит коммерческих факторов']
                        li.mobile-menu__item
                          a.mobile-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
                    .mobile-menu__header Публикации
                    ul.mobile-menu__list
                      each n in ['Блог', 'Кейсы', 'Наши публикации', 'Видео']
                        li.mobile-menu__item
                          a.mobile-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
                    .mobile-menu__header О нас
                    ul.mobile-menu__list
                        each n in ['О компании', 'Контакты', 'Отзывы', 'Сотрудники', 'Обучение']
                          li.mobile-menu__item
                            a.mobile-menu__link.link(href='#')= n
                              img(src=require('../../assets/icons/S_link.svg'))
                    .mobile-menu__socials
                      .socials
                        ul.socials__list
                          li.socials__item
                            a.socials__link(href="#")
                              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6557 3.60343C14.7599 3.2557 14.6557 3 14.1594 3H12.5186C12.101 3 11.9088 3.22074 11.8047 3.4643C11.8047 3.4643 10.97 5.49893 9.78796 6.82004C9.40544 7.20273 9.23129 7.32434 9.02284 7.32434C8.91858 7.32434 8.7676 7.20273 8.7676 6.85501V3.60343C8.7676 3.1862 8.64641 3 8.29865 3H5.72001C5.45931 3 5.30241 3.19355 5.30241 3.37731C5.30241 3.77328 5.89361 3.86404 5.95419 4.97711V7.39384C5.95419 7.9238 5.85865 8.0201 5.64996 8.0201C5.09384 8.0201 3.74047 5.97627 2.93803 3.6384C2.78065 3.18388 2.62296 3 2.20347 3H0.562368C0.0935381 3 0 3.22074 0 3.4643C0 3.89901 0.556122 6.05513 2.59035 8.90654C3.94636 10.8541 5.85676 11.91 7.59529 11.91C8.63863 11.91 8.7676 11.6755 8.7676 11.2714V9.79977C8.7676 9.33088 8.86613 9.23721 9.19675 9.23721C9.43997 9.23721 9.85757 9.35885 10.831 10.2977C11.9437 11.4108 12.1272 11.91 12.7529 11.91H14.394C14.8629 11.91 15.0975 11.6755 14.9619 11.2127C14.8143 10.7515 14.2829 10.0825 13.5779 9.28923C13.1952 8.83707 12.6216 8.35022 12.4479 8.10677C12.2045 7.79402 12.274 7.65458 12.4479 7.37683C12.4479 7.37683 14.4473 4.55992 14.6557 3.60343Z" fill="#2F80ED"/>
                              </svg>
                          li.socials__item
                            a.socials__link(href="#")
                              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.5 0C3.35795 0 0 3.35795 0 7.5C0 11.2602 2.76989 14.3649 6.37909 14.9073V9.48784H4.52352V7.51636H6.37909V6.20455C6.37909 4.03261 7.43727 3.07909 9.24239 3.07909C10.1069 3.07909 10.5641 3.14318 10.7806 3.1725V4.89341H9.5492C8.78284 4.89341 8.51523 5.61989 8.51523 6.43875V7.51636H10.7611L10.4564 9.48784H8.51523V14.9233C12.1759 14.4266 15 11.2967 15 7.5C15 3.35795 11.642 0 7.5 0Z" fill="#2F80ED"/>
                              </svg>
                          li.socials__item
                            a.socials__link(href="#")
                              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.7158 0.689549C14.4599 0.472573 14.058 0.441528 13.6425 0.608354H13.6418C13.2048 0.783708 1.27113 5.90242 0.785324 6.11155C0.696964 6.14225 -0.0747316 6.43019 0.00475789 7.07156C0.0757185 7.64982 0.695941 7.88932 0.771678 7.91695L3.80558 8.95577C4.00687 9.6258 4.74888 12.0978 4.91298 12.6259C5.01532 12.9552 5.18215 13.3877 5.47452 13.4768C5.73107 13.5757 5.98626 13.4853 6.15138 13.3557L8.00624 11.6352L11.0006 13.9704L11.0719 14.0131C11.2752 14.1031 11.47 14.1482 11.6559 14.1482C11.7996 14.1482 11.9374 14.1212 12.0691 14.0673C12.5177 13.8831 12.6971 13.4556 12.7159 13.4072L14.9525 1.78159C15.089 1.16069 14.8993 0.844775 14.7158 0.689549ZM6.48127 9.3713L5.4578 12.1006L4.43433 8.68899L12.2809 2.88933L6.48127 9.3713Z" fill="#2F80ED"/>
                              </svg>
                          li.socials__item
                            a.socials__link(href="#")
                              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5813 3.91408C14.4426 3.14872 13.7819 2.59135 13.0152 2.41735C11.8679 2.17401 9.74443 2 7.44698 2C5.1509 2 2.99347 2.17401 1.84475 2.41735C1.07939 2.59135 0.417346 3.11338 0.278684 3.91408C0.138662 4.78412 0 6.00217 0 7.56824C0 9.13431 0.138662 10.3524 0.31267 11.2224C0.452692 11.9878 1.11338 12.5451 1.87874 12.7191C3.09679 12.9625 5.18488 13.1365 7.48233 13.1365C9.77977 13.1365 11.8679 12.9625 13.0859 12.7191C13.8513 12.5451 14.512 12.0231 14.652 11.2224C14.7906 10.3524 14.9647 9.09897 15 7.56824C14.9293 6.00217 14.7553 4.78412 14.5813 3.91408ZM5.56824 10.0043V5.13214L9.81376 7.56824L5.56824 10.0043Z" fill="#2F80ED"/>
                              </svg>
              li.main-menu__item.hidden-xs.display-flex-md
                  a.main-menu__link(href='#') Услуги
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                    </svg>
                  .sub-menu
                    ul.sub-menu__list
                      each n in ['SEO-продвижение', 'Технический аудит', 'Сбор семантики', 'YMYL-аудит', 'Аудит коммерческих факторов']
                        li.sub-menu__item
                          a.sub-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
              li.main-menu__item.hidden-xs.display-flex-md
                  a.main-menu__link(href='#') Публикации
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                    </svg>
                  .sub-menu
                    ul.sub-menu__list
                      each n in ['Блог', 'Кейсы', 'Наши публикации', 'Видео']
                        li.sub-menu__item
                          a.sub-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
              li.main-menu__item.hidden-xs.display-flex-md
                  a.main-menu__link(href='#') О нас
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                    </svg>
                  .sub-menu
                    ul.sub-menu__list
                      each n in ['О компании', 'Контакты', 'Отзывы', 'Сотрудники', 'Обучение']
                        li.sub-menu__item
                          a.sub-menu__link.link(href='#')= n
                            img(src=require('../../assets/icons/S_link.svg'))
          .search
            .search__btn#search-btn
              span.search__btn-text-1 Поиск
              span.search__btn-text-2 по сайту
              img(src=require('../../assets/icons/loupe.svg'))
            form.search__form#search-form(action='')
              .form-control.search__input
                input(type='text', placeholder='Поиск')
                button(type='submit').
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.7066 13.29L12.7466 10.33C13.5266 9.25 13.9966 7.93 13.9966 6.5C13.9966 2.91 11.0866 0 7.49658 0C3.90658 0 0.996582 2.91 0.996582 6.5C0.996582 10.09 3.90658 13 7.49658 13C8.92658 13 10.2466 12.53 11.3266 11.74L14.2866 14.7C14.4666 14.89 14.7166 15 14.9966 15C15.5466 15 15.9966 14.55 15.9966 14C15.9966 13.72 15.8866 13.47 15.7066 13.29ZM2.99658 6.5C2.99658 4.01 5.00658 2 7.49658 2C9.98658 2 11.9966 4.01 11.9966 6.5C11.9966 8.99 9.98658 11 7.49658 11C5.00658 11 2.99658 8.99 2.99658 6.5Z" fill="#A9A5A0"/></svg>
          .send-request
            button.btn.send-request--big(data-fancybox, href='#modal-order-form') Оставить заявку
            button.btn.send-request--small.btn-small(data-fancybox, href='#modal-order-form') Оставить заявку
          .phone
            a.phone__icon.hidden-md(href='tel:123').
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.21551 10.0796C3.69068 9.27967 3.20311 8.42487 2.83928 7.57674C2.61058 7.04432 2.43877 6.50012 2.27247 5.95503C2.03819 5.18681 1.96647 4.20198 2.01378 3.51709C2.07139 2.68406 2.35149 2.04714 2.74978 1.53776C2.9913 1.22882 3.4631 0.770734 3.9208 0.45404C4.28688 0.201024 4.62671 0.0571234 4.96281 0.0138016C5.2928 -0.0280739 5.6255 0.0262196 5.91471 0.164722C6.44343 0.418233 6.8385 0.819842 7.17192 1.24075C7.49323 1.64564 7.75492 2.16035 7.81193 2.68275C7.87681 3.27578 7.74702 3.88299 7.31433 4.43369C7.14073 4.6539 6.89802 4.85749 6.63181 5.05999C6.28351 5.32429 5.6732 5.64882 5.60049 6.09512C5.50281 6.70113 5.98901 7.49663 6.64292 8.49515C6.65273 8.51017 6.66211 8.52457 6.6721 8.53977C7.32612 9.53769 7.86121 10.3012 8.45343 10.4503C8.89013 10.5602 9.42844 10.1251 9.80803 9.90819C10.0984 9.74259 10.3801 9.59918 10.6502 9.52619C11.3247 9.34497 11.931 9.46516 12.4476 9.75988C12.9027 10.0191 13.2692 10.4643 13.5125 10.9205C13.7653 11.3947 13.976 11.918 13.9988 12.5063C14.0112 12.828 13.9295 13.1564 13.7599 13.4442C13.5876 13.7373 13.3218 13.9942 12.9457 14.2318C12.475 14.5291 11.8697 14.7831 11.4918 14.884C10.8685 15.0502 10.1755 15.0564 9.39154 14.7801C8.74652 14.553 7.87472 14.0971 7.26523 13.5771C6.83261 13.2081 6.40293 12.8342 6.00682 12.4126C5.37531 11.7417 4.7867 10.9531 4.26339 10.1527C4.24719 10.1279 4.23171 10.1044 4.21551 10.0796Z" fill="#fff"/></svg>
            a.phone__number.hidden-xs.display-inline-md(href='tel:+7 (812) 509 22 30') +7 (812) 509 22 30
          .socials.hidden-xs.display-flex-md
            ul.socials__list
              li.socials__item
                a.socials__link(href="#")
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6557 3.60343C14.7599 3.2557 14.6557 3 14.1594 3H12.5186C12.101 3 11.9088 3.22074 11.8047 3.4643C11.8047 3.4643 10.97 5.49893 9.78796 6.82004C9.40544 7.20273 9.23129 7.32434 9.02284 7.32434C8.91858 7.32434 8.7676 7.20273 8.7676 6.85501V3.60343C8.7676 3.1862 8.64641 3 8.29865 3H5.72001C5.45931 3 5.30241 3.19355 5.30241 3.37731C5.30241 3.77328 5.89361 3.86404 5.95419 4.97711V7.39384C5.95419 7.9238 5.85865 8.0201 5.64996 8.0201C5.09384 8.0201 3.74047 5.97627 2.93803 3.6384C2.78065 3.18388 2.62296 3 2.20347 3H0.562368C0.0935381 3 0 3.22074 0 3.4643C0 3.89901 0.556122 6.05513 2.59035 8.90654C3.94636 10.8541 5.85676 11.91 7.59529 11.91C8.63863 11.91 8.7676 11.6755 8.7676 11.2714V9.79977C8.7676 9.33088 8.86613 9.23721 9.19675 9.23721C9.43997 9.23721 9.85757 9.35885 10.831 10.2977C11.9437 11.4108 12.1272 11.91 12.7529 11.91H14.394C14.8629 11.91 15.0975 11.6755 14.9619 11.2127C14.8143 10.7515 14.2829 10.0825 13.5779 9.28923C13.1952 8.83707 12.6216 8.35022 12.4479 8.10677C12.2045 7.79402 12.274 7.65458 12.4479 7.37683C12.4479 7.37683 14.4473 4.55992 14.6557 3.60343Z" fill="#2F80ED"/>
                  </svg>
              li.socials__item
                a.socials__link(href="#")
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.5 0C3.35795 0 0 3.35795 0 7.5C0 11.2602 2.76989 14.3649 6.37909 14.9073V9.48784H4.52352V7.51636H6.37909V6.20455C6.37909 4.03261 7.43727 3.07909 9.24239 3.07909C10.1069 3.07909 10.5641 3.14318 10.7806 3.1725V4.89341H9.5492C8.78284 4.89341 8.51523 5.61989 8.51523 6.43875V7.51636H10.7611L10.4564 9.48784H8.51523V14.9233C12.1759 14.4266 15 11.2967 15 7.5C15 3.35795 11.642 0 7.5 0Z" fill="#2F80ED"/>
                  </svg>
              li.socials__item
                a.socials__link(href="#")
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.7158 0.689549C14.4599 0.472573 14.058 0.441528 13.6425 0.608354H13.6418C13.2048 0.783708 1.27113 5.90242 0.785324 6.11155C0.696964 6.14225 -0.0747316 6.43019 0.00475789 7.07156C0.0757185 7.64982 0.695941 7.88932 0.771678 7.91695L3.80558 8.95577C4.00687 9.6258 4.74888 12.0978 4.91298 12.6259C5.01532 12.9552 5.18215 13.3877 5.47452 13.4768C5.73107 13.5757 5.98626 13.4853 6.15138 13.3557L8.00624 11.6352L11.0006 13.9704L11.0719 14.0131C11.2752 14.1031 11.47 14.1482 11.6559 14.1482C11.7996 14.1482 11.9374 14.1212 12.0691 14.0673C12.5177 13.8831 12.6971 13.4556 12.7159 13.4072L14.9525 1.78159C15.089 1.16069 14.8993 0.844775 14.7158 0.689549ZM6.48127 9.3713L5.4578 12.1006L4.43433 8.68899L12.2809 2.88933L6.48127 9.3713Z" fill="#2F80ED"/>
                  </svg>
              li.socials__item
                a.socials__link(href="#")
                  <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.5813 3.91408C14.4426 3.14872 13.7819 2.59135 13.0152 2.41735C11.8679 2.17401 9.74443 2 7.44698 2C5.1509 2 2.99347 2.17401 1.84475 2.41735C1.07939 2.59135 0.417346 3.11338 0.278684 3.91408C0.138662 4.78412 0 6.00217 0 7.56824C0 9.13431 0.138662 10.3524 0.31267 11.2224C0.452692 11.9878 1.11338 12.5451 1.87874 12.7191C3.09679 12.9625 5.18488 13.1365 7.48233 13.1365C9.77977 13.1365 11.8679 12.9625 13.0859 12.7191C13.8513 12.5451 14.512 12.0231 14.652 11.2224C14.7906 10.3524 14.9647 9.09897 15 7.56824C14.9293 6.00217 14.7553 4.78412 14.5813 3.91408ZM5.56824 10.0043V5.13214L9.81376 7.56824L5.56824 10.0043Z" fill="#2F80ED"/>
                  </svg>