doctype html
html(lang="ru")
    head
        title='Блог'
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        script(type='text/javascript')
    body
        .page
            include ./common/_header
            .breadcrumbs
                .container
                    .row
                        .col-12
                            .breadcrumbs__wrapper
                                ul.breadcrumbs__list
                                    li.breadcrumbs__item
                                        a.breadcrumbs__link(href='/') Главная
                                    li.breadcrumbs__item
                                        a.breadcrumbs__link(href='/') Блог
                                    li.breadcrumbs__item Как сделать ТЗ на дизайн сайта бесплатно самому: подробная инструкция
            section.article__header
                .container
                    .row
                        .col-12
                            h1 Как сделать ТЗ на дизайн сайта бесплатно самому: подробная инструкция
            section.article
                .container
                    .row
                        .col-12

                            .article__columns
                                .article__column1
                                    .article__tags
                                        ul
                                            li.mark.mark--junior Junior
                                            li Сайты услуг
                                            li Инструкция
                                            li.tag #здесь все в 1 строчку в край экрана, если не вошло скроллится в бок
                                    .article__date
                                        .card__date
                                            img(src=require('../assets/icons/calendar.svg'))
                                            span 17.10.21
                                        .card__views
                                            img(src=require('../assets/icons/eye.svg'))
                                            span 75 039
                                        .card__rating
                                            img(src=require('../assets/icons/rating.svg'))
                                            span 4.5
                                        .card__comments-count
                                            img(src=require('../assets/icons/comment.svg'))
                                            span 7
                                        .card__update
                                            span Обновлена 17.12.2021
                                    .article__content
                                        h5 Создаем подробное техническое задание для дизайнера и разработчиков с нуля из ничего - бесплатно, быстро, красиво и чтобы не стыдно было показать клиенту!
                                        p Нет, данное заявление - не очередной кликбейт от маркетологов.
                                        p Команда Ant-Team.ru свой способ создания подробнейшего технического задания для дизайнеров и разработчиков.
                                        p Сегодня мы делимся с вами всеми подробностями и тонкостями нашей технологии. Инструкция настолько полная, что мы уже передаем ее новичкам команды в качестве регламента!
                                        .article__split.hidden-lg
                                            .left
                                                .article__contents.contents
                                                    a.contents__header(href="#") Содержание
                                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 1.735L3.86658 4.69C3.42658 5.02 3.32658 5.65 3.65658 6.09C3.85658 6.35 4.15658 6.49 4.45658 6.49C4.66658 6.49 4.87658 6.43 5.05658 6.29L7.49658 4.48416V11.5C7.49658 12.05 7.94658 12.5 8.49658 12.5C9.04658 12.5 9.49658 12.05 9.49658 11.5V4.48431L11.9364 6.29C12.1164 6.43 12.3264 6.49 12.5364 6.49C12.8364 6.49 13.1364 6.35 13.3364 6.09C13.6664 5.65 13.5664 5.02 13.1264 4.69L9.14356 1.735C9.08911 1.6886 9.03009 1.64879 8.96774 1.61583C8.82164 1.53659 8.66219 1.50092 8.50257 1.50002C8.50058 1.50001 8.49858 1.5 8.49658 1.5C8.49452 1.5 8.49245 1.50001 8.49039 1.50002C8.49238 1.50001 8.49438 1.5 8.49638 1.5M8.02522 1.61583C7.96286 1.64879 7.90385 1.6886 7.8494 1.735L8.02522 1.61583Z" fill="#2F80ED"/>
                                                        </svg>
                                                    ul
                                                        li.active
                                                            a(href="#") Зачем мы вообще это делаем?
                                                        li
                                                            a(href="#") Что нам понадобится?
                                                        li
                                                            a(href="#") Что будет результатом работы?
                                                        li
                                                            a(href="#") При чём тут семантика
                                                        li
                                                            a(href="#") Отбираем конкурентов
                                                        li
                                                            a(href="#") Типы страниц и структура сайта
                                                        li
                                                            a(href="#") Составляем ТЗ на дизайн рисовать!
                                                        li
                                                            a(href="#") Заключение
                                                        li
                                                            a(href="#") Видео обзор ТЗ на дизайн и схематичного прототипа
                                                        li
                                                            a(href="#") Посмотреть ТЗ и схему
                                            .right
                                                .no-time__form
                                                    h3 Нет времени читать?
                                                    a.link(href='#') Отправить статью на почту
                                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                        </svg>

                                        .article__code-snippet.code-snippet
                                            ol.code-snippet__text(start='5')
                                                li
                                                    span if (is_admin () ||! $ query-> is_main_query ()) {
                                                li
                                                    span return ; }
                                            button(href='#').btn.btn-small.code-snippet__btn скопировать код
                                        h2 Зачем мы вообще это делаем?
                                        p Может показаться, что SEO и разработка дизайна - несвязанные области. В таком случае вы удивитесь, если мы скажем, что рано или поздно задача такого типа практически для каждого нашего проекта!
                                        p Как так вышло и почему мы, а не кто-то другой?
                                        p Дело в том, что качественное SEO-продвижение - это комплексный подход, а не просто вливание некоторых ключевых слов в тексты, как думают. Обращайтесь к хорошим сеошникам, будьте готовы, что они со своими рекомендациями дотянутся до вашего сайта и даже до вашего бизнеса со всех сторон. Именно такой подход, при условии, что работа профессионалы, поможет достичь самых крутых результатов.
                                        blockquote
                                            p “Если говорить конкретно о задаче на ТЗ для дизайнаера, сеошников в меньшей степени интересуют такие дизайнерские фишки, как цветовая гамма, содержимое картинок на страницах или закорючки на шрифтах. Дизайн в этом понимании мы не трогаем и оставляем на усмотрение дизайнера и клиента. В рекомендациях же мы говорим о заполнении страницы: блоках, необходимых для повышения доверия у посетителя и поисковика.”
                                            p
                                                cite В.И.Ленин, топ-менеджер Гугл
                                        p Нам не всегда важно, как они будут выглядеть, но нужно, чтобы они были в принципе были. Неподготовленный человек, не знакомый с Инструкцией для асессоров Google, по нашему опыту упускает большую часть YMYL-факторов, что может быть дальнейшее сказаться на ранжировании.
                                        p Схематичный прототип же мыем для понимания понимания ТЗ. По опыту мы знаем, что ТЗ в Гугл доке с перечислением блоков и примеров конкурентов очень тяжело воспринимается даже подготовленным человеком. Поэтому, чтобы избежать лишней головной боли. Всего лишь час работы значительно упрощает дальнейший процесс согласования и разработки дизайна.
                                        h5 Вот список:
                                        ol
                                            li Для анализа конкурентов нужен список конкурентов, для поиска конкурентов нужен семантика - список запросов.
                                            li Для анализа конкурентов нужен список конкурентов, для поиска конкурентов нужен семантика - список запросов.
                                            li Для анализа конкурентов нужен список конкурентов, для поиска конкурентов нужен семантика - список запросов.
                                        ul
                                            li Для анализа конкурентов нужен список конкурентов
                                            li Для поиска конкурентов нужен семантика - список запросов.
                                            li Для анализа конкурентов нужен список конкурентов, для поиска конкурентов нужен семантика - список запросов.
                                        .article__notification.notification.notification--disclamer
                                            .notification__icon
                                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15 12C16.1046 12 17 11.1046 17 10C17 8.89543 16.1046 8 15 8C13.8954 8 13 8.89543 13 10C13 11.1046 13.8954 12 15 12Z" fill="#EB5757"/>
                                                <path d="M15 22C16.1046 22 17 21.1046 17 20C17 18.8954 16.1046 18 15 18C13.8954 18 13 18.8954 13 20C13 21.1046 13.8954 22 15 22Z" fill="#EB5757"/>
                                                <path d="M15 16C16.1046 16 17 15.1046 17 14C17 12.8954 16.1046 12 15 12C13.8954 12 13 12.8954 13 14C13 15.1046 13.8954 16 15 16Z" fill="#EB5757"/>
                                                <path d="M17 10H13V14H17V10Z" fill="#EB5757"/>
                                                <path d="M15 4C21.06 4 26 8.94 26 15C26 21.06 21.06 26 15 26C8.94 26 4 21.06 4 15C4 8.94 8.94 4 15 4ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0Z" fill="#EB5757"/>
                                                </svg>
                                            .notification__desc
                                                h4 Дисклеймер
                                                p Любые из перечисленных инструментов вы можете заменить на ваши любимые альтернативы, кроме (!) Последних двух. Если с руками и терпением у вас плохо, то лучше передать эту задачу более усидчивому коллеге, иначе обещанной красоты не выйдет, а ругать вы нас за плохую инструкцию.
                                        figure
                                            img(src=require('../assets/images/article_pic.png'))
                                            figcaption Рисунок 1. Часть отобранных для фраз фраз
                                        p В этой статье я поверхностно расскажу о более полном подходе (втором) и подробно остановлюсь именно на составлении ТЗ для дизайнера и блок-схеме (первом).
                                        h2 При чём тут семантика
                                        p Для анализа конкурентов нужен список конкурентов, для поиска конкурентов нужен семантика - список запросов. Если ТЗ составляется для какой-то одной страницы-лендинга, то достаточно кластера (группы запросов), под будет который оптимизирована страница. Если мы составляем полный ТЗ на сайт, то нужна хотя бы какая-то поверхностная семантика по теме (примерно от 5-10 кластеров).
                                        .article__read-also
                                            <svg class="decor" xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none">
                                            <path d="M2.02 12.0002H23.76L16.5 3.28018C15.8 2.44018 15.9 1.18018 16.76 0.460182C17.62 -0.259818 18.86 -0.139818 19.58 0.720182L29.58 12.7202C29.6 12.7802 29.62 12.8402 29.66 12.9202C29.74 13.0402 29.8 13.1402 29.86 13.2802C29.9 13.3802 29.94 13.5002 29.96 13.6202C29.98 13.7402 30 13.8802 30 14.0002C30 14.1202 29.98 14.2602 29.96 14.3802C29.94 14.5002 29.9 14.6202 29.86 14.7402C29.8 14.8602 29.74 14.9802 29.66 15.1002C29.62 15.1602 29.6 15.2402 29.56 15.3002L19.56 27.3002C19.16 27.7602 18.6 28.0002 18.02 28.0002C17.56 28.0002 17.12 27.8402 16.74 27.5402C15.9 26.8402 15.78 25.5802 16.48 24.7202L23.76 16.0002H2.02C0.92 16.0002 0.0200005 15.1002 0.0200005 14.0002C0.0200005 12.9002 0.92 12.0002 2.02 12.0002Z" fill="#A9A5A0"/>
                                            </svg>
                                            span Читайте также:
                                            a(href='#').link Как сделать ТЗ на дизайн бесплатно самому: подробная инструкция
                                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                </svg>
                                        p Нам не всегда важно, как они будут выглядеть, но нужно, чтобы они были в принципе были. Неподготовленный человек, не знакомый с Инструкцией для асессоров Google, по нашему опыту упускает большую часть YMYL-факторов, что может быть дальнейшее сказаться на ранжировании.
                                        p Схематичный прототип же мыем для понимания понимания ТЗ. По опыту мы знаем, что ТЗ в Гугл доке с перечислением блоков и примеров конкурентов очень тяжело воспринимается даже подготовленным человеком. Поэтому, чтобы избежать лишней головной боли. Всего лишь час работы значительно упрощает дальнейший процесс согласования и разработки дизайна.
                                        .article__notification.notification.notification--important
                                            .notification__icon
                                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15 12C16.1046 12 17 11.1046 17 10C17 8.89543 16.1046 8 15 8C13.8954 8 13 8.89543 13 10C13 11.1046 13.8954 12 15 12Z" fill="#354658"/>
                                                <path d="M15 22C16.1046 22 17 21.1046 17 20C17 18.8954 16.1046 18 15 18C13.8954 18 13 18.8954 13 20C13 21.1046 13.8954 22 15 22Z" fill="#354658"/>
                                                <path d="M15 16C16.1046 16 17 15.1046 17 14C17 12.8954 16.1046 12 15 12C13.8954 12 13 12.8954 13 14C13 15.1046 13.8954 16 15 16Z" fill="#354658"/>
                                                <path d="M17 10H13V14H17V10Z" fill="#354658"/>
                                                <path d="M15 4C21.06 4 26 8.94 26 15C26 21.06 21.06 26 15 26C8.94 26 4 21.06 4 15C4 8.94 8.94 4 15 4ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0Z" fill="#354658"/>
                                                </svg>
                                            .notification__desc
                                                h4 Важно
                                                p Как SEO-специалисты при составлении ТЗ мы в первую очередь ориентируемся именно на конкурентов из поисковой выдачи. Хотя клиент или руководитель может попросить дополнительно обратить внимание на какие-то другие сайты, и тогда это обязательно нужно сделать.
                                        p В этой статье я поверхностно расскажу о более полном подходе (втором) и подробно остановлюсь именно на составлении ТЗ для дизайнера и блок-схеме (первом).
                                        h2 При чём тут семантика
                                        p Для анализа конкурентов нужен список конкурентов, для поиска конкурентов нужен семантика - список запросов. Если ТЗ составляется для какой-то одной страницы-лендинга, то достаточно кластера (группы запросов), под будет который оптимизирована страница. Если мы составляем полный ТЗ на сайт, то нужна хотя бы какая-то поверхностная семантика по теме (примерно от 5-10 кластеров).
                                        p Нам не всегда важно, как они будут выглядеть, но нужно, чтобы они были в принципе были. Неподготовленный человек, не знакомый с Инструкцией для асессоров Google, по нашему опыту упускает большую часть YMYL-факторов, что может быть дальнейшее сказаться на ранжировании.
                                        p Схематичный прототип же мыем для понимания понимания ТЗ. По опыту мы знаем, что ТЗ в Гугл доке с перечислением блоков и примеров конкурентов очень тяжело воспринимается даже подготовленным человеком. Поэтому, чтобы избежать лишней головной боли. Всего лишь час работы значительно упрощает дальнейший процесс согласования и разработки дизайна.
                                        h2 Видеообзор на ТЗ и схематичного прототипа
                                        figure
                                            img(src=require('../assets/images/article_pic.png'))
                                            figcaption Рисунок 1. Часть отобранных для фраз фраз
                                        p Потратив всего пару часов, мы составили подробное техническое задание для дизайнера и нарисовали красивую схему к нему. Результат нашей работы:
                                        p Выглядит профессионально.
                                        p Понятен всем специалистам, которые будут в дальнейшем работать над проектом. Все любят подробные ТЗ!
                                        p Мы уверены, что при достаточной надежности упорства подобную задачу может выполнить любой человек с первого раза и получить достойный результат. А если вам нужна помощь, вы всегда можете обратиться к нам!
                                        .article__read-also
                                            <svg class="decor" xmlns="http://www.w3.org/2000/svg" width="29" height="30" viewBox="0 0 29 30" fill="none">
                                            <path d="M16.0046 27.98V6.24L24.7246 13.5C25.5646 14.2 26.8246 14.1 27.5446 13.24C28.2646 12.38 28.1446 11.14 27.2846 10.42L15.2846 0.42C15.2246 0.4 15.1646 0.38 15.0846 0.34C14.9646 0.26 14.8646 0.2 14.7246 0.14C14.6246 0.1 14.5046 0.06 14.3846 0.04C14.2646 0.02 14.1246 0 14.0046 0C13.8846 0 13.7446 0.02 13.6246 0.04C13.5046 0.06 13.3846 0.1 13.2646 0.14C13.1446 0.2 13.0246 0.26 12.9046 0.34C12.8446 0.38 12.7646 0.4 12.7046 0.44L0.704578 10.44C0.244579 10.84 0.00457764 11.4 0.00457764 11.98C0.00457764 12.44 0.164577 12.88 0.464577 13.26C1.16458 14.1 2.42458 14.22 3.28458 13.52L12.0046 6.24V27.98C12.0046 29.08 12.9046 29.98 14.0046 29.98C15.1046 29.98 16.0046 29.08 16.0046 27.98Z" fill="#A9A5A0"/>
                                            </svg>
                                            span Данная статья является переводом автора MOZ.com Сайруса Шепарда.
                                            a(href='#').link Читать оригинал статьи
                                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                </svg>
                                        .article__split
                                            .left
                                                .article__form
                                                    form.subscribe-form
                                                        .form__success
                                                            h3 Спасибо, что подписались на рассылку!
                                                            p Мы будем отправлять вам только полезный контент не чаще 2 раз в месяц.
                                                        .form-control
                                                            h3 Остались вопросы или хотите заказать продвижение?
                                                        .form-control
                                                            input(type='text', placeholder='inside hint')
                                                            label Имя
                                                        .form-control
                                                            input(type='text', placeholder='inside hint')
                                                            label Phone
                                                        .form-control
                                                            input(type='text', placeholder='inside hint')
                                                            label E-mail
                                                        div
                                                            button.btn оставить заявку
                                                            div
                                                                .form-control
                                                                    label.checkbox Я ознакомлен и согласен с <a href='#'>Политикой в отношении обработки персональных данных</a>
                                                                        input(type='checkbox')
                                                                        span.check
                                                                            img(src=require('../assets/icons/check.svg'))
                                            .right
                                                .article__form
                                                    form.subscribe-form
                                                        .form__success
                                                            h3 Спасибо, что подписались на рассылку!
                                                            p Мы будем отправлять вам только полезный контент не чаще 2 раз в месяц.
                                                        .form-control
                                                            h3 Подпишитесь на рассылку
                                                            p Мы будем отправлять вам письма с самыми интересными и полезными статьями 2 раза в месяц.
                                                        .form-control
                                                            input(type='text', placeholder='inside hint')
                                                            label Имя
                                                        .form-control
                                                            input(type='text', placeholder='inside hint')
                                                            label E-mail
                                                        div
                                                            button.btn отправить
                                                            div
                                                                .form-control
                                                                    label.checkbox Я ознакомлен и согласен с <a href='#'>Политикой в отношении обработки персональных данных</a>
                                                                        input(type='checkbox')
                                                                        span.check
                                                                            img(src=require('../assets/icons/check.svg'))

                                .article__column2.hidden-xs.display-block-lg
                                    .article__contents.contents
                                        h3 Содержание:
                                        ul
                                            li.active
                                                a(href="#") Зачем мы вообще это делаем?
                                            li
                                                a(href="#") Что нам понадобится?
                                            li
                                                a(href="#") Что будет результатом работы?
                                            li
                                                a(href="#") При чём тут семантика
                                            li
                                                a(href="#") Отбираем конкурентов
                                            li
                                                a(href="#") Типы страниц и структура сайта
                                            li
                                                a(href="#") Составляем ТЗ на дизайн рисовать!
                                            li
                                                a(href="#") Заключение
                                            li
                                                a(href="#") Видео обзор ТЗ на дизайн и схематичного прототипа
                                            li
                                                a(href="#") Посмотреть ТЗ и схему
                                    .no-time__form
                                        h3 Нет времени читать?
                                        a.link(href='#') Отправить статью на почту
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                            </svg>
                section
                    .article__rating
                        .container
                            .row
                                .col
                                    .review__rating
                                        .rating
                                            .rating__under-layer
                                                img(src=require('../assets/icons/rating.svg'))
                                                img(src=require('../assets/icons/rating.svg'))
                                                img(src=require('../assets/icons/rating.svg'))
                                                img(src=require('../assets/icons/rating.svg'))
                                                img(src=require('../assets/icons/rating.svg'))
                                            .rating__top-layer(style='width:100%')
                                                img(src=require('../assets/icons/star.svg'))
                                                img(src=require('../assets/icons/star.svg'))
                                                img(src=require('../assets/icons/star.svg'))
                                                img(src=require('../assets/icons/star.svg'))
                                                img(src=require('../assets/icons/star.svg'))
                                        .rating__text Средний рейтинг: 5 из 5 (17 голосов)
                                    .review__like
                                        h3 Понравилась статья? Оцените:
                                        .form-control
                                            .score
                                                label
                                                    input(type='radio', name='score', value='1')
                                                    span 1
                                                label
                                                    input(type='radio', name='score', value='2')
                                                    span 2
                                                label
                                                    input(type='radio', name='score', value='3')
                                                    span 3
                                                label
                                                    input(type='radio', name='score', value='4')
                                                    span 4
                                                label
                                                    input(type='radio', name='score', value='5')
                                                    span 5
                    .article__author
                        .container
                            .row
                                .col-12.author
                                    .author__photo
                                        img(src=require('../assets/images/article_author.png'))
                                    .author__desc
                                        .author__text Автор статьи:
                                        .author__name Иванов Иван
                                        .author__title SEO-специалист
                                    .author__articles
                                        .author__text Другие статьи автора:
                                        ul
                                            li
                                                a(href='#').link Как сделать сайт на вордпресс
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                            li
                                                a(href='#').link Тренды в SEO-2016
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                            li
                                                a(href='#').link Создайте и продвигайте свой блог за 10 шагов
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                            li
                                                a(href='#').link Создайте и продвигайте свой блог за 10 шагов
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                            li
                                                a(href='#').link Как сделать сайт на вордпресс
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                    .article__subscribe
                        .container
                            .row
                                .col-12
                                    .subscribe
                                        h4 Подпишитесь, чтобы получать информацию о публикациях
                                        .subscribe__socials
                                            .subscribe__social
                                                img(src=require('../assets/icons/tg.svg'))
                                                a(href='#').link @seoantteam
                                                    img(src=require('../assets/icons/S_link.svg'))
                                            .subscribe__social
                                                img(src=require('../assets/icons/fb.svg'))
                                                a(href='#').link antteam.ru
                                                    img(src=require('../assets/icons/S_link.svg'))
                                            .subscribe__social
                                                img(src=require('../assets/icons/yt.svg'))
                                                a(href='#').link SEO от Ant-Team
                                                    img(src=require('../assets/icons/S_link.svg'))
                                            .subscribe__social
                                                img(src=require('../assets/icons/vk.svg'))
                                                a(href='#').link ant_team_ru
                                                    img(src=require('../assets/icons/S_link.svg'))
                    .article__popular-tags
                        .container
                            .row
                                .col-12
                                    h6 Популярные теги:
                                    ul
                                        li
                                            a(href='#').link seo-инструменты
                                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                </svg>
                                        li
                                            a(href='#').link google
                                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                </svg>
                                        li
                                            a(href='#').link асессорская инструкция
                                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                </svg>
                                        li
                                            a(href='#').link ссылки
                                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                </svg>
                                        li
                                            a(href='#').link трафик
                                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                </svg>

                    section.comments-block
                        .container
                            .row
                                .col-12
                                    .article__comments
                                        h2 Коментарии:
                                        .article-comment.l-0
                                            .article-comment__user
                                                .user__avatar
                                                .user__name Никадим Овсянкин
                                            .article-comment__text Очень заинтересовался Вашей статьёй. Буду изучать!
                                            .article-comment__date 22.09.2015
                                            .article__reply
                                                a(href='#').link Ответить
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                        .article-comment.l-1
                                            .article-comment__user
                                                .user__avatar
                                                    img(src=require('../assets/images/user_avatar.png'))
                                                .user__title
                                                    .user__name Никадим Овсянкин
                                                    .user__job SEO-специалист Ant-Team.ru
                                            .article-comment__text Очень заинтересовался Вашей статьёй. Буду изучать!
                                            .article-comment__date 22.09.2015
                                            .article__reply
                                                a(href='#').link Ответить
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                        .article-comment.l-1
                                            .article-comment__user
                                                .user__avatar
                                                    img(src=require('../assets/images/user_avatar.png'))
                                                .user__title
                                                    .user__name Никадим Овсянкин
                                                    .user__job SEO-специалист Ant-Team.ru
                                            .article-comment__text Очень заинтересовался Вашей статьёй. Буду изучать!
                                            .article-comment__date 22.09.2015
                                            .article__reply
                                                a(href='#').link Ответить
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                        .article-comment.l-2
                                            .article-comment__user
                                                .user__avatar
                                                .user__name Никадим Овсянкин
                                            .article-comment__text Очень заинтересовался Вашей статьёй. Буду изучать!
                                            .article-comment__date 22.09.2015
                                            .article__reply
                                                a(href='#').link Ответить
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                        .article-comment.l-0
                                            .article-comment__user
                                                .user__avatar
                                                    img(src=require('../assets/images/user_avatar.png'))
                                                .user__title
                                                    .user__name Никадим Овсянкин
                                                    .user__job SEO-специалист Ant-Team.ru
                                            .article-comment__text Очень заинтересовался Вашей статьёй. Буду изучать!
                                            .article-comment__date 22.09.2015
                                            .article__reply
                                                a(href='#').link Ответить
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                    .article__leave-comment
                                        form.subscribe-form
                                            .form__success
                                                h3 Спасибо за комментарий
                                            .form-control
                                                h3 Оставьте комментарий
                                            .form-control
                                                textarea(placeholder='inside hint')
                                                label Комментарий
                                            .form-control
                                                input(type='text', placeholder='inside hint')
                                                label Имя
                                            .form-control
                                                input(type='text', placeholder='inside hint')
                                                label E-mail
                                            .form-control
                                                .socials__comments Комментировать через соцсети
                                                ul.socials__list
                                                    li.socials__item
                                                        a.socials__link(href="#")
                                                            <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6557 3.60343C14.7599 3.2557 14.6557 3 14.1594 3H12.5186C12.101 3 11.9088 3.22074 11.8047 3.4643C11.8047 3.4643 10.97 5.49893 9.78796 6.82004C9.40544 7.20273 9.23129 7.32434 9.02284 7.32434C8.91858 7.32434 8.7676 7.20273 8.7676 6.85501V3.60343C8.7676 3.1862 8.64641 3 8.29865 3H5.72001C5.45931 3 5.30241 3.19355 5.30241 3.37731C5.30241 3.77328 5.89361 3.86404 5.95419 4.97711V7.39384C5.95419 7.9238 5.85865 8.0201 5.64996 8.0201C5.09384 8.0201 3.74047 5.97627 2.93803 3.6384C2.78065 3.18388 2.62296 3 2.20347 3H0.562368C0.0935381 3 0 3.22074 0 3.4643C0 3.89901 0.556122 6.05513 2.59035 8.90654C3.94636 10.8541 5.85676 11.91 7.59529 11.91C8.63863 11.91 8.7676 11.6755 8.7676 11.2714V9.79977C8.7676 9.33088 8.86613 9.23721 9.19675 9.23721C9.43997 9.23721 9.85757 9.35885 10.831 10.2977C11.9437 11.4108 12.1272 11.91 12.7529 11.91H14.394C14.8629 11.91 15.0975 11.6755 14.9619 11.2127C14.8143 10.7515 14.2829 10.0825 13.5779 9.28923C13.1952 8.83707 12.6216 8.35022 12.4479 8.10677C12.2045 7.79402 12.274 7.65458 12.4479 7.37683C12.4479 7.37683 14.4473 4.55992 14.6557 3.60343Z" fill="#2F80ED"/>
                                                            </svg>
                                                    li.socials__item
                                                        a.socials__link(href="#")
                                                            <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7.5 0C3.35795 0 0 3.35795 0 7.5C0 11.2602 2.76989 14.3649 6.37909 14.9073V9.48784H4.52352V7.51636H6.37909V6.20455C6.37909 4.03261 7.43727 3.07909 9.24239 3.07909C10.1069 3.07909 10.5641 3.14318 10.7806 3.1725V4.89341H9.5492C8.78284 4.89341 8.51523 5.61989 8.51523 6.43875V7.51636H10.7611L10.4564 9.48784H8.51523V14.9233C12.1759 14.4266 15 11.2967 15 7.5C15 3.35795 11.642 0 7.5 0Z" fill="#2F80ED"/>
                                                            </svg>
                                                    li.socials__item
                                                        a.socials__link(href="#")
                                                            <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M14.7158 0.689549C14.4599 0.472573 14.058 0.441528 13.6425 0.608354H13.6418C13.2048 0.783708 1.27113 5.90242 0.785324 6.11155C0.696964 6.14225 -0.0747316 6.43019 0.00475789 7.07156C0.0757185 7.64982 0.695941 7.88932 0.771678 7.91695L3.80558 8.95577C4.00687 9.6258 4.74888 12.0978 4.91298 12.6259C5.01532 12.9552 5.18215 13.3877 5.47452 13.4768C5.73107 13.5757 5.98626 13.4853 6.15138 13.3557L8.00624 11.6352L11.0006 13.9704L11.0719 14.0131C11.2752 14.1031 11.47 14.1482 11.6559 14.1482C11.7996 14.1482 11.9374 14.1212 12.0691 14.0673C12.5177 13.8831 12.6971 13.4556 12.7159 13.4072L14.9525 1.78159C15.089 1.16069 14.8993 0.844775 14.7158 0.689549ZM6.48127 9.3713L5.4578 12.1006L4.43433 8.68899L12.2809 2.88933L6.48127 9.3713Z" fill="#2F80ED"/>
                                                            </svg>
                                            div
                                                button.btn отправить
                                                div
                                                    .form-control
                                                        label.checkbox Я ознакомлен и согласен с <a href='#'>Политикой в отношении обработки персональных данных</a>
                                                            input(type='checkbox')
                                                            span.check
                                                                img(src=require('../assets/icons/check.svg'))

                    .article__share-idea
                        .suggest
                            h3 Есть тема для статьи?
                            p
                                a(href='#').link прислать идею
                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                    </svg>
            include ./common/_footer
