doctype html
html(lang="ru")
    head
        title='Блог'
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        script(type='text/javascript')
    body
        .page
            include ./common/_header
            .ribbon
                .container
                    .row
                        .col-12
                            .ribbon__wrapper
                                p Вежливое обращение в подарок к заказу SEO-продвижения
                                a.btn.btn-small.ribbon__get Получить
                                .ribbon__close
                                    img(src=require('../assets/icons/close.svg'))
            .breadcrumbs
                .container
                    .row
                        .col-12
                            .breadcrumbs__wrapper
                                ul.breadcrumbs__list
                                    li.breadcrumbs__item
                                        a.breadcrumbs__link(href='/') Главная
                                    li.breadcrumbs__item
                                        a.breadcrumbs__link(href='/') Блог
                                    li.breadcrumbs__item Название статьи
            section.page__header
                .container
                    .row
                        .col-12
                            h1 Блог
                            h3 Блог
            .container
                .row
                    .col-12
                        section.page__subheader
                            section.page__search
                                form.blog-search__form#blog-search-form(action='')
                                    .form-control.blog-search__input
                                        input(type='text', placeholder='Поиск')
                                        button(type='submit').
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.7066 13.29L12.7466 10.33C13.5266 9.25 13.9966 7.93 13.9966 6.5C13.9966 2.91 11.0866 0 7.49658 0C3.90658 0 0.996582 2.91 0.996582 6.5C0.996582 10.09 3.90658 13 7.49658 13C8.92658 13 10.2466 12.53 11.3266 11.74L14.2866 14.7C14.4666 14.89 14.7166 15 14.9966 15C15.5466 15 15.9966 14.55 15.9966 14C15.9966 13.72 15.8866 13.47 15.7066 13.29ZM2.99658 6.5C2.99658 4.01 5.00658 2 7.49658 2C9.98658 2 11.9966 4.01 11.9966 6.5C11.9966 8.99 9.98658 11 7.49658 11C5.00658 11 2.99658 8.99 2.99658 6.5Z" fill="#A9A5A0"/></svg>
                            section.page__nav
                                ul.blog-menu
                                    li.blog-menu__item
                                        a.blog-menu__link(href='#') Темы
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                                            </svg>
                                        .sub-menu
                                            .sub-menu__header Темы
                                            .sub-menu__close
                                                img(src=require('../assets/icons/close.svg'))
                                            ul.sub-menu__list
                                                each n in ['Обновления ПС', 'Асессорская инструкция', 'Инструменты', 'Патенты Google', 'Интернет-магазины', 'Сайты услуг', 'Тренды', 'Аудит', 'Контент', 'Техническое SEO']
                                                    li.sub-menu__item
                                                        a.sub-menu__link.link(href='#')= n
                                                            img(src=require('../assets/icons/S_link.svg'))
                                    li.blog-menu__item
                                        a.blog-menu__link(href='#') Форматы
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                                            </svg>
                                        .sub-menu
                                            .sub-menu__header Форматы
                                            .sub-menu__close
                                                img(src=require('../assets/icons/close.svg'))
                                            ul.sub-menu__list
                                                each n in ['Инструкция', 'Статья', 'Исследование', 'Кейс', 'Чек-лист', 'Патент', 'Тест', 'Интервью']
                                                    li.sub-menu__item
                                                        a.sub-menu__link.link(href='#')= n
                                                            img(src=require('../assets/icons/S_link.svg'))
                                    li.blog-menu__item
                                        a.blog-menu__link(href='#') Теги
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                                            </svg>
                                        .sub-menu
                                            .sub-menu__header Теги
                                            .sub-menu__close
                                                img(src=require('../assets/icons/close.svg'))
                                            ul.sub-menu__list
                                                each n in ['google', 'асессорская инструкция', 'seo-инструменты', 'ссылки', 'трафик', 'дизайн', 'технические ошибки', 'аудит сайта', 'контент', 'метатеги']
                                                    li.sub-menu__item
                                                        a.sub-menu__link.link(href='#')= n
                                                            img(src=require('../assets/icons/S_link.svg'))
                                    li.blog-menu__item
                                        a.blog-menu__link(href='#') Сложноcть
                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.8494 12.265L3.86658 9.31C3.42658 8.98 3.32658 8.35 3.65658 7.91C3.85658 7.65 4.15658 7.51 4.45658 7.51C4.66658 7.51 4.87658 7.57 5.05658 7.71L7.49658 9.51584V2.5C7.49658 1.95 7.94658 1.5 8.49658 1.5C9.04658 1.5 9.49658 1.95 9.49658 2.5V9.51569L11.9364 7.71C12.1164 7.57 12.3264 7.51 12.5364 7.51C12.8364 7.51 13.1364 7.65 13.3364 7.91C13.6664 8.35 13.5664 8.98 13.1264 9.31L9.14356 12.265C9.08911 12.3114 9.03009 12.3512 8.96774 12.3842C8.82164 12.4634 8.66219 12.4991 8.50257 12.5C8.50058 12.5 8.49858 12.5 8.49658 12.5C8.49452 12.5 8.49245 12.5 8.49039 12.5C8.49238 12.5 8.49438 12.5 8.49638 12.5M8.02522 12.3842C7.96286 12.3512 7.90385 12.3114 7.8494 12.265L8.02522 12.3842Z" fill="#2F80ED"/>
                                            </svg>
                                        .sub-menu
                                            .sub-menu__header Сложноcть
                                            .sub-menu__close
                                                img(src=require('../assets/icons/close.svg'))
                                            ul.sub-menu__list
                                                each n in ['Junior', 'Middle', 'Senior']
                                                    li.sub-menu__item
                                                        a.sub-menu__link.link(href='#')= n
                                                            img(src=require('../assets/icons/S_link.svg'))
            section.page__content
                .container
                    .row
                        .col-12
                            .content
                                each n in [1,2]
                                    .content__item
                                        .card.card--bordered
                                            .card__picture
                                                img(src=require('../assets/images/case.png'))
                                            .card__content
                                                .card__theme
                                                    ul
                                                        li тема
                                                        li Кейс
                                                .card__title Кейс представлен как статья
                                                a.card__link(href='#') читать
                                                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7616 7.64718L10.8066 11.63C10.4766 12.07 9.84658 12.17 9.40658 11.84C9.14658 11.64 9.00658 11.34 9.00658 11.04C9.00658 10.83 9.06658 10.62 9.20658 10.44L11.0124 8H3.99658C3.44658 8 2.99658 7.55 2.99658 7C2.99658 6.45 3.44658 6 3.99658 6H11.0123L9.20658 3.5602C9.06658 3.3802 9.00658 3.1702 9.00658 2.9602C9.00658 2.6602 9.14658 2.3602 9.40658 2.1602C9.84658 1.8302 10.4766 1.9302 10.8066 2.3702L13.7616 6.35303C13.808 6.40747 13.8478 6.46649 13.8808 6.52884C13.96 6.67495 13.9957 6.83439 13.9966 6.99401C13.9966 6.99601 13.9966 6.998 13.9966 7C13.9966 7.00207 13.9966 7.00413 13.9966 7.0062C13.9966 7.0042 13.9966 7.0022 13.9966 7.0002M13.8808 7.47136C13.8478 7.53372 13.808 7.59273 13.7616 7.64718L13.8808 7.47136Z" fill="#2F80ED"/>
                                                    </svg>
                                                .card__desc Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете. Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете.
                                                .card__tags
                                                    div #дизайн #контент #дизайн #контент #дизайн #контент #дизайн #контент
                                            .card__footer
                                                .card__date
                                                    img(src=require('../assets/icons/calendar.svg'))
                                                    span 17.10.21
                                                .card__views
                                                    img(src=require('../assets/icons/eye.svg'))
                                                    span 75 039
                                                .card__rating
                                                    img(src=require('../assets/icons/rating.svg'))
                                                    span 4.5
                                                .card__comments-count
                                                    img(src=require('../assets/icons/comment.svg'))
                                                    span 7
                                .content__item
                                    form.subscribe-form
                                        .form__success
                                            h3 Спасибо, что подписались на рассылку!
                                            p Мы будем отправлять вам только полезный контент не чаще 2 раз в месяц.
                                        .form-control
                                            h3 Подпишитесь на рассылку
                                            p Мы будем отправлять вам письма с самыми интересными и полезными статьями 2 раза в месяц.
                                        .form-control
                                            input(type='text', placeholder='inside hint')
                                            label Имя
                                        .form-control
                                            input(type='text', placeholder='inside hint')
                                            label E-mail
                                        div
                                            button.btn Отправить
                                            div
                                                .form-control
                                                    label.checkbox Я ознакомлен и согласен с <a href='#'>Политикой в отношении обработки персональных данных</a>
                                                        input(type='checkbox')
                                                        span.check
                                                            img(src=require('../assets/icons/check.svg'))
                                .content__item
                                    .card.card--bordered
                                        .card__content
                                            .card__theme
                                                ul
                                                    li тема
                                                    li Кейс
                                            .card__title Кейс представлен как статья
                                            a.card__link(href='#') читать
                                                img(src=require('../assets/icons/S_link.svg'))
                                            .card__desc Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете. Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете.
                                            .card__tags #дизайн #статья #дизайн #статья #дизайн #статья #дизайн #статья #дизайн #статья
                                        .card__footer
                                            .card__date
                                                img(src=require('../assets/icons/calendar.svg'))
                                                span 17.10.21
                                            .card__views
                                                img(src=require('../assets/icons/eye.svg'))
                                                span 75 039
                                            .card__rating
                                                img(src=require('../assets/icons/rating.svg'))
                                                span 4.5
                                            .card__comments-count
                                                img(src=require('../assets/icons/comment.svg'))
                                                span 7
                                .content__item
                                    .card
                                        .card__picture
                                            img(src=require('../assets/images/case.png'))
                                        .card__content
                                            .card__theme
                                                ul
                                                    li тема
                                                    li Кейс
                                            .card__title Кейс представлен как статья
                                            a.card__link(href='#') читать
                                                img(src=require('../assets/icons/S_link.svg'))
                                            .card__desc Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете. Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете.
                                            .card__tags #дизайн #контент
                                        .card__footer
                                            .card__date
                                                img(src=require('../assets/icons/calendar.svg'))
                                                span 17.10.21
                                            .card__views
                                                img(src=require('../assets/icons/eye.svg'))
                                                span 75 039
                                            .card__rating
                                                img(src=require('../assets/icons/rating.svg'))
                                                span 4.5
                                            .card__comments-count
                                                img(src=require('../assets/icons/comment.svg'))
                                                span 7
                                .content__item
                                    .now-commenting
                                        h4 Сейчас комментируют:
                                        .comments
                                            each n in [1, 2, 3]
                                                .comment
                                                    .comment__username Username
                                                    .comment__desc Большинство видов рода обитают на юге Китая и в Юго-Восточной Азии. Исключение составляют два вида. Первый — обыкновенный сазан lorem ipsum Первый обыкновенный сазан lorem ipsum Первый обыкновенный сазан lorem ipsum
                                                    .comment__link
                                                        a(href='#').link Название статьи
                                                            img(src=require('../assets/icons/S_link.svg'))
                                each n in [1, 2, 3]
                                    .content__item
                                        .card
                                            .card__picture
                                                img(src=require('../assets/images/case.png'))
                                            .card__content
                                                .card__theme
                                                    ul
                                                        li тема
                                                        li Кейс
                                                .card__title Кейс представлен как статья
                                                a.card__link(href='#') читать
                                                    img(src=require('../assets/icons/S_link.svg'))
                                                .card__desc Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете. Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете.
                                                .card__tags #дизайн #контент
                                            .card__footer
                                                .card__date
                                                    img(src=require('../assets/icons/calendar.svg'))
                                                    span 17.10.21
                                                .card__views
                                                    img(src=require('../assets/icons/eye.svg'))
                                                    span 75 039
                                                .card__rating
                                                    img(src=require('../assets/icons/rating.svg'))
                                                    span 4.5
                                                .card__comments-count
                                                    img(src=require('../assets/icons/comment.svg'))
                                                    span 7
                                .content__item
                                    .suggest
                                        h3 Есть тема для статьи?
                                        p Пришлите нам свою идею и возможно мы напишем по ней статью
                                        p
                                            a(href='#').link прислать идею
                                                img(src=require('../assets/icons/S_link.svg'))
                                each n in [1,2,3]
                                    .content__item
                                        .card.card--bordered
                                            .card__picture
                                                img(src=require('../assets/images/case.png'))
                                            .card__content
                                                .card__theme
                                                    ul
                                                        li тема
                                                        li Кейс
                                                .card__title Кейс представлен как статья
                                                a.card__link(href='#') читать
                                                    img(src=require('../assets/icons/S_link.svg'))
                                                .card__desc Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете. Как мне попасть в Google My Business, если несколько моих компаний находятся по одному адресу? Сколько профилей я могу создать, если на законных основаниях веду более одного бизнеса? Какие санкции грозят мне в случае ошибки? Как мне назвать свои компании, расположенные по одному адресу? Эти и многие другие вопросы из года в год заполняют SEO-форумы в интернете.
                                                .card__tags #дизайн #контент
                                            .card__footer
                                                .card__date
                                                    img(src=require('../assets/icons/calendar.svg'))
                                                    span 17.10.21
                                                .card__views
                                                    img(src=require('../assets/icons/eye.svg'))
                                                    span 75 039
                                                .card__rating
                                                    img(src=require('../assets/icons/rating.svg'))
                                                    span 4.5
                                                .card__comments-count
                                                    img(src=require('../assets/icons/comment.svg'))
                                                    span 7
                                .content__item
                                    .subscribe
                                        h4 Подпишитесь, чтобы получать информацию о публикациях
                                        .subscribe__socials
                                            .subscribe__social
                                                img(src=require('../assets/icons/tg.svg'))
                                                a(href='#').link @seoantteam
                                                    img(src=require('../assets/icons/S_link.svg'))
                                            .subscribe__social
                                                img(src=require('../assets/icons/fb.svg'))
                                                a(href='#').link antteam.ru
                                                    img(src=require('../assets/icons/S_link.svg'))
                                            .subscribe__social
                                                img(src=require('../assets/icons/yt.svg'))
                                                a(href='#').link SEO от Ant-Team
                                                    img(src=require('../assets/icons/S_link.svg'))
                                            .subscribe__social
                                                img(src=require('../assets/icons/vk.svg'))
                                                a(href='#').link ant_team_ru
                                                    img(src=require('../assets/icons/S_link.svg'))
                                .content__item
                                    form.subscribe-form
                                        .form__success
                                            h3 Заявка принята
                                            p Мы свяжемся с вами в ближайшее время и обсудим возможности для продвижения вашего сайта.
                                        .form-control
                                            h3 Заявка на SEO-продвижение сайта от Ant-Team.ru
                                            p Оставьте заявку, и наши специалисты подробно расскажут о том, как именно мы можем помочь вашему сайту занять лучшие позиции в поисковой выдаче.
                                        .form-control
                                            input(type='text', placeholder='inside hint')
                                            label Имя
                                        .form-control
                                            input(type='text', placeholder='inside hint')
                                            label E-mail
                                        .form-control
                                            input(type='text', placeholder='inside hint')
                                            label Адрес сайта
                                        div
                                            button.btn Отправить
                                            div
                                                .form-control
                                                    label.checkbox Я ознакомлен и согласен с <a href='#'>Политикой в отношении обработки персональных данных</a>
                                                        input(type='checkbox')
                                                        span.check
                                                            img(src=require('../assets/icons/check.svg'))
            section.pagination
                .container
                    .row
                        .col-12
                            .pagination__wrapper
                                .pages
                                    ul.pages__list
                                        li.pages__prev
                                            a(href='#')
                                                img(src=require('../assets/icons/S_previous_w.svg'))
                                        each n in [1,2,3,4,5,6]
                                            if n === 1
                                                li.pages__item.active
                                                    a(href='#')= n
                                            else
                                                li.pages__item
                                                    a(href='#')= n
                                        li.pages__next
                                            a(href='#')
                                                img(src=require('../assets/icons/S_next_w.svg'))
                                .pages-amount
                                    span Показывать по:
                                    ul.pages-amount__list
                                        each n in [20, 50, 100]
                                            if n === 20
                                                li.pages-amount__item.active
                                                    a(href='#')= n
                                            else
                                                li.pages-amount__item
                                                    a(href='#')= n
            include ./common/_footer